
// 颜色
$primary: #aa622c;
$primary-2: #aa622c;
$panel-border-color: #CDDB50;

// 按钮
$btn-box-shadow: rgba(18, 28, 29, 0.26);
$btn-background-linear-gradient: #d06818, #ba5f1a, #d06818;

// 输入域
$input-border-color: #da864b !default;
$input-border-color2: #aa622c !default;
$input-btn-background: #d06818, #ba5f1a, #d06818 !default;  // 输入域后按钮

// 表格
$table-header-backgroud: #e0823a, #c57233, #ab632c !default;
$table-odd-background: rgba(255,255,255,0.5) !default;   // #ffffff 0.5
$table-even-background: rgba(221,211,211,0.5) !default;  // ddd3de 0.5
$table-selected-background: rgba(207,171,144,0.5) !default; // #cfab90 0.5
$table-btn-background: #dc955d, #d68142, #dc955d !default;

// 背景
$background-1920: #ffffff no-repeat;
$background-1280: #ffffff no-repeat;

